@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/fonctions";


*{
    margin: 0;
    padding: 0;
}

body{
    @include font-secondary;
    @include p-size;
}

h2{
    @include h2;
}

p{
    @include p-size;
}

section {
    @include padding-section;
}

header {
    @include header;
}

.headerbis {
    @include header;
    & .arrow {
        position: absolute;
        left: 10px;
        top: 14px;
        width: 15px;
    }
}

footer {
    @include footer;
    }

// DEBUT PAGE INDEX

//loader en barres//
.wait{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: $color-button;
    width: 100%;
    height: 100%;
    color: $color-button;
    font-size: 1.5em;
    z-index: -1;
    animation: spinner 3s;
    animation-iteration-count: 1;
}

.loader{
    display: inline-block;
    position: relative;
}

.loader-bars:before{
    @include load;
    left: -40px;
}

.loader-bars:after{
    @include load;
    left: -30px;
    animation: grow 1.5s linear -0.5s infinite;
}

.loader-bars span{
    @include load;
    left: -20px;
    animation: grow 1.5s linear -1s infinite;
}
//fin loader en barres//

.loc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: inset 0rem .2rem .2rem  darken($color: #eaeaea, $amount: 15);
    background-color: $background-secondary;
    & img {
        height: 15px;
        @media (min-width:700px) and (max-width:1500px){
            height: 20px;
        }
    }
    & input{
        background-color: $background-secondary;
        border: none;
        padding: 10px;
        font-weight: 500;
    }
}

.search{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-primary;
    &__pitch {
        width: 80%;
        margin: auto;
        & p{
            @include p-size;
            margin-bottom: 20px;
        }
        & button {
            @include button;
        }
    }
}

.fonction {        
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width:680px) and (max-width:1500px){
        width: 90%;
    }
    &__bloc{
        @media (min-width:680px) and (max-width:1500px){
            display: flex;
            flex-direction: row;
            width: 100%;     
        }
        &__solo{
            @include bloc-fonction;
            align-items: center;
            @media (min-width:680px) and (max-width:1500px){
                margin-right: 20px;
            }    
            &__number{
                @include number-radius;
                position: relative ;
                top: 50%;
                left: -30px;
            }
            & i {
                padding-right: 10px;
                width: 15px;
                height: 15px;
                color: grey;
            }
            & p {
                font-weight: 500;
            }
            &:hover {
                background-color: #F5EDFF;
                cursor: pointer;
                @include box-shadow-dark;
            }
            &:hover > i{
                color: $color-primary;
            }
        }
    }
}

.resto {
    width: 100%;
    background-color: $background-primary;
    & h2{
        width: 90%;
        margin: auto;
    }
    &__cartes{
        display: flex;
        flex-direction: column;
        @media (min-width:900px) and (max-width:1500px){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            // flex-wrap: wrap;
            margin: auto;
            width: 90%;        
        }
        & a{
            text-decoration: none;
        }
        &__single {
            position: relative;
            width: 90%;
            margin: auto;
            margin-top: 20px;
            background-color: #ffff;
            padding-bottom: 10px;
            @include bloc-radius;
            @include box-shadow;
            @media (min-width:900px) and (max-width:1500px){
                width: 280px;
                margin-right: 20px;        
            }
            &__img{
                @include img-resto;
            }
            &__new{
                padding: 5px;
                background-color: $color-tertiary;
                color: darken($color: $color-tertiary, $amount: 30);
                font-weight: 500;
                border-radius: 3px;
                position: absolute;
                right: 12px;
                top: 13px;
            }
            &__text{
                padding: 5px 10px 5px 10px;
                color: black;
            }
            &__flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px 0px 10px;
            }
        }
    }
}

// animation fondu coeur

.empty{
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    & .full{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background: linear-gradient(to bottom, $color-primary, $color-secondary); 
        background: -webkit-linear-gradient(to bottom, $color-primary, $color-secondary);
        background: -moz-linear-gradient(to bottom, $color-primary, $color-secondary); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover {
        & .full {
            animation: fondu_heart 1800ms;
            animation-fill-mode: forwards;
        }
        & .empty {
            opacity: 0;
            transition: opacity 1800ms;
        }	
    }
}
// fin animation fondu coeur


// DEBUT PAGE MENU

.diapo{
   width: 100%;
   height: 300px;
   z-index: 0;
   background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
   background-size: cover;
   background-position: center;
   @media (min-width:700px) and (max-width:1099px){
    width: 100%;
    height: 400px;
    }
    @media (min-width:1100px) and (max-width:1500px){
        width: 100%;
        height: 500px;
    }
}

.menu {
    padding: 5%;
    margin: auto;
    background-color: $background-primary;
    border-radius: 50px 50px 0px 0px;
    z-index: 1;
    margin-top: -50px;
    &__h2{
        font-family: 'Shrikhand', cursive;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__article {
        @media (min-width:1100px) and (max-width:1500px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        } 
    }
    & h3 {
        font-weight: 300;
        width: 40px;
        border-bottom: $color-tertiary 3px solid;
        margin: 10px 0px 10px 0px;
        line-height: 2;
    }
    & h4{
        line-height: 1.5;
        @include césure;
    }
    & p{
        @include césure;
        font-size: 0.9em;
    }
    &__bloc{
        @include bloc-repas;
        position: relative;
        &:hover &__text {
            width: 83%;
            @media (min-width:1100px) and (max-width:1500px){
                width: 80%;
                }          
        }
        &:hover .coche {
            transform: scaleX(1);
            opacity: 1;					
        }
        &:hover .coche .fa-check-circle {
            transform: rotate(360deg);
            transition: transform 800ms;
        }
        &__text {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transform-origin: left 90%;
            transition: width 800ms;
            &__prix {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & span{
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
            & .coche {
                background-color: $color-tertiary;
                width: 60px;
                height: 60px;
                border-radius: 0 10px 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transform: scaleX(0);
                transition: transform 800ms;
                transform-origin: right 50%;
                position: absolute;
                right: 0px;
                top: 0px;
                    & .fa-check-circle {
                        color: $color-button;
                        transform: rotate(90deg);
                    }
            }
        }
        @media (min-width:1100px) and (max-width:1500px){
        width: 300px;
        }
    }
    @media (min-width:700px) and (max-width:1099px)
    {
    width: 70%;
    }

    .fade{
        animation: fondu 2s 300ms;
        animation-fill-mode: backwards;
    }
    .fade--2{
            animation: fondu 3s 300ms;
        }
    .fade--3{
            animation: fondu 4s 300ms;
        }



    .btn__center{
       display: flex;
       justify-content: center;
       margin: 50px 0 30px 0;
        & button {
            @include button;
        }
    }
}
