@import "utils/variables.scss";
@import "utils/mixins.scss";


*{
    margin: 0;
    padding: 0;
}

body{
    @include font-secondary;
    @include p-size;
}

h2{
    font-weight: 500;
    margin-bottom: 20px;
}

p{
    font-weight: 100;
}

section {
    @include padding-section;
}

header {
    @include header;
}

.headerbis {
    @include header;
    & .arrow {
        position: absolute;
        left: 10px;
        top: 14px;
        width: 15px;
    }
}

footer {
    @include footer;
    }

// DEBUT PAGE INDEX

.loc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: inset 0rem .2rem .2rem  darken($color: #eaeaea, $amount: 15);
    background-color: $background-secondary;
    & img {
        height: 15px;
    }
    & input{
        background-color: $background-secondary;
        border: none;
        padding: 10px;
        font-weight: 500;
    }
}

.search{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-primary;
    &__pitch {
        width: 80%;
        margin: auto;
        & p{
            @include p-size;
            margin-bottom: 20px;
        }
        & button {
            @include button;
            &:hover{
                background: lighten($color: $color-primary, $amount: 10);
            }
        }
    }
}

.fonction {        
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__bloc__solo{
        @include bloc-fonction;
        align-items: center;
        &__number{
            @include number-radius;
            position: relative ;
            top: 50%;
            left: -30px;
        }
        & img {
            padding-right: 20px;
            width: 15px;
            height: 15px;
        }
        & p {
            font-weight: 500;
        }
        &--purple {
            background-color: #F5EDFF;
        }
    }
}

@media (min-width:680px) and (max-width:1500px)
{
.fonction {
    width: 90%;
    &__bloc {
        display: flex;
       flex-direction: row;
       width: 100%;
       &__solo{
           margin-right: 20px;
       }
    }
}
}

.resto {
    width: 100%;
    background-color: $background-primary;
    & h2{
        width: 90%;
        margin: auto;
    }
    &__cartes{
        display: flex;
        flex-direction: column;
        & a{
            text-decoration: none;
        }
        &__single {
            width: 90%;
            margin: auto;
            margin-top: 20px;
            background-color: #ffff;
            padding-bottom: 10px;
            @include bloc-radius;
            @include box-shadow;
            &__img {
                @include img-resto;
            }
            &__encart{
                float: right;
                width: 70px;
                margin: 0;
                padding: 5px;
                background-color: $color-tertiary;
                color: darken($color: $color-tertiary, $amount: 30);
                border-radius: 3px;
                position: absolute;
                margin-top: 10px;
                right: 30px;
                & p {
                    font-weight: 500;
                    text-align: center;
                }
            }
            &__text{
                padding: 5px;
                color: black;
            }
            &__heart{
                @include btn-heart;
            }
        }
    }
}

@media (min-width:680px) and (max-width:1500px)
{
.resto__cartes{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    &__single{
        width: 280px;
        margin-right: 20px;
        &__encart{
            position: absolute;
            z-index: 999;
        }
    }
}
}

// DEBUT PAGE 2

.diapo{
   width: 100%;
   height: 300px;
   z-index: 0;
   background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
   background-size: cover;
   background-position: center;
   & img{
       width: 100%;
       height: 200px;
       z-index: 0;
   }
}

.menu {
    padding: 5%;
    margin: auto;
    background-color: $background-primary;
    border-radius: 50px 50px 0px 0px;
    z-index: 1;
    margin-top: -50px;
    &__h2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & img{
            margin: 0px 20px 20px 0px;
            width: 20px;
        }
    }
    & h2 {
        font-family: 'Shrikhand', cursive;
    }
    & h3 {
        font-weight: 300;
        width: 40px;
        border-bottom: $color-tertiary 3px solid;
        margin: 10px 0px 10px 0px;
        line-height: 2;
    }
    & h4{
        line-height: 1.5;
        @include césure;
    }
    & p{
        @include césure;
        font-size: 0.9em;
        height: 15px;
    }
    &__bloc{
        @include bloc-repas;
        &__prix {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &--bold{
                font-weight: 500;
                margin-left: 10px;
            }
        }
    }
    .btn__center{
       display: flex;
       justify-content: center;
       margin: 50px 0 30px 0;
        & button {
            @include button;
        }
    }
}

@media (min-width:950px) and (max-width:1099px)
{
.diapo{
    width: 100%;
    height: 400px;
}
.menu__article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.menu__bloc{
    width: 250px;
}
}
@media (min-width:1100px) and (max-width:1500px)
{
.diapo{
    width: 100%;
    height: 500px;
}
.menu__article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.menu__bloc{
    width: 300px;
}
}