@mixin font-primary {
    font-family: 'Shrikhand', cursive;
}

@mixin font-secondary {
    font-family: 'Roboto', cursive;
}

@mixin h2 {
        font-weight: 500;
        // margin-bottom: 20px;
        font-size: 1.3em;
        @media (min-width:320px) and (max-width:374px){
            font-size: 1.2em;
            }
        @media (min-width:700px) and (max-width:1500px){
            font-weight: 500;
            // margin-bottom: 20px;
            font-size: 1.4em;
        }
}

@mixin margin-bas {
    margin-bottom: 20px;
}

@mixin p-size {
    font-size: 1em;
    font-weight: 100;
    @media (min-width:700px) and (max-width:1500px){
        font-size: 1em;
    }

}

@mixin padding-section {
    padding: 50px 0 50px 0;
}

@mixin header {
    width: 100%;
    margin: auto;
    padding: 12px 0 12px 0;
    & h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }   
    & img{
        width: 150px;
        @media (min-width:700px) and (max-width:1500px){
            width: 200px;
        }
    }
}

@mixin footer {
    background-color: $background-tertiary;
    color: $color-button;
    padding: 20px;
    @media (min-width:650px) and (max-width:1500px){
text-align: center;
    }
    & h2 {
        font-family: 'Shrikhand', cursive;
    }
    & ul {
        list-style: none;
        & li{
            @include p-size;
            font-weight: 300;
            padding-bottom: 5px;
            & i {
                font-size: 1em;
                padding-right: 3px;
            }
        }
    }
    & a{
        color: $color-button;
        text-decoration: none;
    }
}

@mixin box-shadow {
    box-shadow: 0rem .2rem .2rem darken($color: $background-primary, $amount: 10);
}

@mixin box-shadow-dark {
    box-shadow: 0rem .2rem .2rem darken($color: $background-primary, $amount: 40);
}

@mixin bloc-radius {
    border-radius: 20px;
}

@mixin button {
    background: $mix-color;
    padding: 15px;
    border-radius: 30px;
    border: none;
    @include box-shadow;
    color: $color-button;
    font-size: 1em;
    width: 220px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
        @include box-shadow-dark;
    }
    @media (min-width:700px) and (max-width:1500px){
        font-size: 1em;
        width: 250px;
        }          

}

@mixin number-radius {
    border-radius: 50px;
    padding: 3px 7px 2px 7px;
    background-color: $color-primary;
    color: $color-button;
    font-weight: 300;
}

@mixin bloc-fonction {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    background-color: $background-primary;
    padding: 20px;
    margin-top: 20px;
    @include box-shadow;
    @include bloc-radius;
}

@mixin img-resto {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

@mixin btn-heart {
    border: none;
    width: 20px;
    background: none;
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    z-index: 99;
}

@mixin bloc-repas {
    background-color: white;
    @include box-shadow;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
}

@mixin césure {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin heart-full {
        background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
        background: linear-gradient(170deg, #FF79DA, #9356DC );
        transform: scale(0);
        transition: -webkit-transform 150ms 50ms ease-in-out;
        transition: transform 5s 5s ease-in-out;
}

@mixin load{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    width: 5px;
    height: 30px;
    background-color:$color-button;
    animation: grow 1.5s linear infinite backwards alternate;
}

