@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    background: #99E2D0;
    opacity: 1;
    z-index: 1;
  }
  60% {
    background: #99E2D0;
    opacity: 1;
    z-index: 1;
  }
  70% {
    background: #99E2D0;
    opacity: 0.9;
    z-index: 1;
  }
  80% {
    background: #99E2D0;
    opacity: 0.7;
    z-index: 1;
  }
  100% {
    background: #99E2D0;
    opacity: 0;
  }
}
@keyframes fondu_heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fondu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", cursive;
  font-size: 0.9em;
  font-weight: 100;
}
@media (min-width: 700px) and (max-width: 1500px) {
  body {
    font-size: 1em;
  }
}

h2 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.3em;
}
@media (min-width: 700px) and (max-width: 1500px) {
  h2 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.6em;
  }
}

p {
  font-size: 0.9em;
  font-weight: 100;
}
@media (min-width: 700px) and (max-width: 1500px) {
  p {
    font-size: 1em;
  }
}

section {
  padding: 50px 0 50px 0;
}

header {
  width: 100%;
  margin: auto;
  padding: 12px 0 12px 0;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header img {
  width: 150px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  header img {
    width: 200px;
  }
}

.headerbis {
  width: 100%;
  margin: auto;
  padding: 12px 0 12px 0;
}
.headerbis h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.headerbis img {
  width: 150px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  .headerbis img {
    width: 200px;
  }
}
.headerbis .arrow {
  position: absolute;
  left: 10px;
  top: 14px;
  width: 15px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  .headerbis .arrow {
    width: 20px;
  }
}

footer {
  background-color: #353535;
  color: #ffff;
  padding: 20px;
}
@media (min-width: 650px) and (max-width: 1500px) {
  footer {
    text-align: center;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style: none;
}
footer ul li {
  font-size: 0.9em;
  font-weight: 100;
  font-weight: 300;
  padding-bottom: 5px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  footer ul li {
    font-size: 1em;
  }
}
footer ul li img {
  width: 10px;
  padding-right: 5px;
}
footer a {
  color: #ffff;
  text-decoration: none;
}

.wait {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  width: 100%;
  height: 100%;
  color: #ffff;
  font-size: 1.5em;
  z-index: -1;
  animation: spinner 3s;
  animation-iteration-count: 1;
}

.loader {
  display: inline-block;
  position: relative;
}

.loader-bars:before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 5px;
  height: 30px;
  background-color: #ffff;
  animation: grow 1.5s linear infinite backwards alternate;
  left: -40px;
}

.loader-bars:after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 5px;
  height: 30px;
  background-color: #ffff;
  animation: grow 1.5s linear infinite backwards alternate;
  left: -30px;
  animation: grow 1.5s linear -0.5s infinite;
}

.loader-bars span {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 5px;
  height: 30px;
  background-color: #ffff;
  animation: grow 1.5s linear infinite backwards alternate;
  left: -20px;
  animation: grow 1.5s linear -1s infinite;
}

.loc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: inset 0rem 0.2rem 0.2rem #c4c4c4;
  background-color: #EAEAEA;
}
.loc img {
  height: 15px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  .loc img {
    height: 20px;
  }
}
.loc input {
  background-color: #EAEAEA;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.search {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
}
.search__pitch {
  width: 80%;
  margin: auto;
}
.search__pitch p {
  font-size: 0.9em;
  font-weight: 100;
  margin-bottom: 20px;
}
@media (min-width: 700px) and (max-width: 1500px) {
  .search__pitch p {
    font-size: 1em;
  }
}
.search__pitch button {
  background: linear-gradient(#ef34c0, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
  color: #ffff;
  width: 180px;
  cursor: pointer;
}
.search__pitch button:hover {
  opacity: 0.8;
  box-shadow: 0rem 0.2rem 0.2rem #909090;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .search__pitch button {
    font-size: 1em;
    width: 250px;
  }
}

.fonction {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 680px) and (max-width: 1500px) {
  .fonction {
    width: 90%;
  }
}
@media (min-width: 680px) and (max-width: 1500px) {
  .fonction__bloc {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.fonction__bloc__solo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  background-color: #F6F6F6;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
  border-radius: 20px;
  align-items: center;
}
@media (min-width: 680px) and (max-width: 1500px) {
  .fonction__bloc__solo {
    margin-right: 20px;
  }
}
.fonction__bloc__solo__number {
  border-radius: 50px;
  padding: 3px 7px 2px 7px;
  background-color: #9356DC;
  color: #ffff;
  font-weight: 300;
  position: relative;
  top: 50%;
  left: -30px;
}
.fonction__bloc__solo i {
  padding-right: 10px;
  width: 15px;
  height: 15px;
  color: grey;
}
.fonction__bloc__solo p {
  font-weight: 500;
}
.fonction__bloc__solo:hover {
  background-color: #F5EDFF;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 0.2rem #909090;
}
.fonction__bloc__solo:hover > i {
  color: #9356DC;
}

.resto {
  width: 100%;
  background-color: #F6F6F6;
}
.resto h2 {
  width: 90%;
  margin: auto;
}
.resto__cartes {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) and (max-width: 1500px) {
  .resto__cartes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    width: 90%;
  }
}
.resto__cartes a {
  text-decoration: none;
}
.resto__cartes__single {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: #ffff;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
}
@media (min-width: 900px) and (max-width: 1500px) {
  .resto__cartes__single {
    width: 280px;
    margin-right: 20px;
  }
}
.resto__cartes__single__img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}
.resto__cartes__single__new {
  padding: 5px;
  background-color: #99E2D0;
  color: #32b091;
  font-weight: 500;
  border-radius: 3px;
  position: absolute;
  right: 12px;
  top: 13px;
}
.resto__cartes__single__text {
  padding: 5px 10px 5px 10px;
  color: black;
}
.resto__cartes__single__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.empty {
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}
.empty .full {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(to bottom, #9356DC, #ef34c0);
  background: -webkit-linear-gradient(to bottom, #9356DC, #ef34c0);
  background: -moz-linear-gradient(to bottom, #9356DC, #ef34c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.empty:hover .full {
  animation: fondu_heart 1800ms;
  animation-fill-mode: forwards;
}
.empty:hover .empty {
  opacity: 0;
  transition: opacity 1800ms;
}

.diapo {
  width: 100%;
  height: 300px;
  z-index: 0;
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 700px) and (max-width: 1099px) {
  .diapo {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .diapo {
    width: 100%;
    height: 500px;
  }
}

.menu {
  padding: 5%;
  margin: auto;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  z-index: 1;
  margin-top: -50px;
}
.menu__h2 {
  font-family: "Shrikhand", cursive;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .menu__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu h3 {
  font-weight: 300;
  width: 40px;
  border-bottom: #99E2D0 3px solid;
  margin: 10px 0px 10px 0px;
  line-height: 2;
}
.menu h4 {
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.menu__bloc {
  background-color: white;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  height: 40px;
  position: relative;
}
.menu__bloc:hover .menu__bloc__text {
  width: 83%;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .menu__bloc:hover .menu__bloc__text {
    width: 80%;
  }
}
.menu__bloc:hover .coche {
  transform: scaleX(1);
  opacity: 1;
}
.menu__bloc:hover .coche .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 800ms;
}
.menu__bloc__text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform-origin: left 90%;
  transition: width 800ms;
}
.menu__bloc__text__prix {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__bloc__text__prix span {
  font-weight: 500;
  margin-left: 10px;
}
.menu__bloc__text .coche {
  background-color: #99E2D0;
  width: 60px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 800ms;
  transform-origin: right 50%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.menu__bloc__text .coche .fa-check-circle {
  color: #ffff;
  transform: rotate(90deg);
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .menu__bloc {
    width: 300px;
  }
}
@media (min-width: 700px) and (max-width: 1099px) {
  .menu {
    width: 70%;
  }
}
.menu .fade {
  animation: fondu 2s 300ms;
  animation-fill-mode: backwards;
}
.menu .fade--2 {
  animation: fondu 3s 300ms;
}
.menu .fade--3 {
  animation: fondu 4s 300ms;
}
.menu .btn__center {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px 0;
}
.menu .btn__center button {
  background: linear-gradient(#ef34c0, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0rem 0.2rem 0.2rem #dddddd;
  color: #ffff;
  width: 180px;
  cursor: pointer;
}
.menu .btn__center button:hover {
  opacity: 0.8;
  box-shadow: 0rem 0.2rem 0.2rem #909090;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .menu .btn__center button {
    font-size: 1em;
    width: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
